[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule ".vim/plugin/aw-watcher-vim"]
	path = .vim/plugin/aw-watcher-vim
	url = https://github.com/ActivityWatch/aw-watcher-vim
[submodule ".vim/plugin/coc.nvim"]
	path = .vim/plugin/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule ".vim/plugin/gruvbox-material"]
	url = https://github.com/sainnhe/gruvbox-material
