/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #121212 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #e0d0dc; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #e0d0dc; background-color: rgba(196,164,187,0.4)}
.cm-s-nqqwal { background-color: #121212; color: #e0d0dc; }
.cm-s-nqqwal span.cm-builtin { color: #9F6C8F; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #9c919a; }
.cm-s-nqqwal span.cm-keyword { color: #C6739B; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #7E848A; }
.cm-s-nqqwal span.cm-def { color: #A594A9; }
.cm-s-nqqwal span.cm-variable { color: #C4A4BB; }
.cm-s-nqqwal span.cm-variable-2 { color: #A594A9; }
.cm-s-nqqwal span.cm-string { color: #9F6C8F; }
.cm-s-nqqwal span.cm-string-2 { color: #9F6C8F; }
.cm-s-nqqwal span.cm-number { color: #A594A9; }
.cm-s-nqqwal span.cm-tag { color: #C6739B; }
.cm-s-nqqwal span.cm-property { color: #C4A4BB; }
.cm-s-nqqwal span.cm-attribute { color: #C4A4BB; }
.cm-s-nqqwal span.cm-qualifier { color: #7E848A; }
.cm-s-nqqwal span.cm-meta { color: #A594A9; }
.cm-s-nqqwal span.cm-header { color: #C6739B; }
.cm-s-nqqwal span.cm-operator { color: #C6739B; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(165,148,169,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #C6739B; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #121212); }
