/* Custom Variables | Color Scheme */
:root {
	--primary: #662A40;
	--text-light: #c99d8a;
	--background: #001C2D;
	--background-light: #905017;
	--url: url(/mnt/hdd/ironman/wallpapers/wallhaven-e7xw6w.png)
}

